[Unit]
Description=A-eye web stack
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/debi/jaime/repos/a-eye/a-eye_web
RemainAfterExit=yes
Environment=COMPOSE_PROJECT_NAME=aeyeweb
ExecStartPre=-/usr/bin/docker compose -f docker-compose.vm.yml pull traefik
ExecStart=/usr/bin/docker compose -f docker-compose.vm.yml up -d --build
ExecStop=/usr/bin/docker compose -f docker-compose.vm.yml down
TimeoutStartSec=0
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
