{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="title-container">
    <h2 class="main-title">Funding Foundation</h2>
</div>
<div class="text-center mb-5">
    <div class="partner-card">
        <img src="{{ url_for('static', filename='images/partners/GELBERT2.png') }}" class="img-fluid" alt="Funding Foundation Logo">
    </div>
</div>
<div class="title-container">
    <h2 class="main-title">A-Eye Team</h2>
</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <img src="{{ url_for('static', filename='images/A-Eye_team/Meri.jpg') }}" alt="Meritxell Bach Cuadra">
            <div class="info-section">
                <div class="name-section">
                    <strong style="font-size: 2em;">Meritxell Bach Cuadra</strong>
                </div>
                <div class="email-section">
                    <strong>Email: </strong> <a href="mailto:meritxell.bachcuadra@unil.ch">meritxell.bachcuadra@unil.ch</a>
                </div>
                <div class="description-section">
                    Principal Investigator and Leader of the A-Eye project.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <img src="{{ url_for('static', filename='images/A-Eye_team/jaime.jpg') }}" alt="Jaime Barranco Hernandez">
            <div class="info-section">
                <div class="name-section">
                    <strong style="font-size: 2em;">Jaime Barranco Hernandez</strong>
                </div>
                <div class="email-section">
                    <strong>Email: </strong> <a href="mailto:jaime.barranco-hernandez@chuv.ch">jaime.barranco-hernandez@chuv.ch</a>
                </div>
                <div class="description-section">
                    Researcher affiliated with CIBM, CHUV, HES-SO, and developer of several eye segmentation automation techniques for the A-Eye project.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <img src="{{ url_for('static', filename='images/A-Eye_team/raphael.jpg') }}" alt="Raphael Sznitman">
            <div class="info-section">
                <div class="name-section">
                    <strong style="font-size: 2em;">Raphael Sznitman</strong>
                </div>
                <div class="email-section">
                    <strong>Email: </strong> <a href="mailto:raphael.sznitman@unibe.ch">raphael.sznitman@unibe.ch</a>
                </div>
                <div class="description-section">
                    Professor at the University of Bern, ARTORG Center for Biomedical Engineering.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <img src="{{ url_for('static', filename='images/A-Eye_team/bene.jpg') }}" alt="Benedetta Franceschiello">
            <div class="info-section">
                <div class="name-section">
                    <strong style="font-size: 2em;">Benedetta Franceschiello</strong>
                </div>
                <div class="email-section">
                    <strong>Email: </strong> <a href="mailto:benedetta.franceschiello@hevs.ch">benedetta.franceschiello@hevs.ch</a>
                </div>
                <div class="description-section">
                    Associate Professor at the School of Engineering, HES-SO Valais-Wallis, and PI at the Sense Research and Innovation Center. Expert in signal processing, MRI, and neuroimaging.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <img src="{{ url_for('static', filename='images/A-Eye_team/soenke.jpg') }}" alt="Soenke Langner">
            <div class="info-section">
                <div class="name-section">
                    <strong style="font-size: 2em;">Soenke Langner</strong>
                </div>
                <div class="email-section">
                    <strong>Email: </strong> <a href="mailto:soenke.langner@uni-greifswald.de">soenke.langner@uni-greifswald.de</a>
                </div>
                <div class="description-section">
                    Professor of Neuroradiology at University of Rostock. Expert in MR microscopy of the eye and image analysis.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <img src="{{ url_for('static', filename='images/A-Eye_team/oliver.jpg') }}" alt="Oliver Stachs">
            <div class="info-section">
                <div class="name-section">
                    <strong style="font-size: 2em;">Oliver Stachs</strong>
                </div>
                <div class="email-section">
                    <strong>Email: </strong> <a href="mailto:oliver.stachs@med.uni-rostock.de">oliver.stachs@med.uni-rostock.de</a>
                </div>
                <div class="description-section">
                    Head of section of experimental ophthalmology at the University of Rostock. Expert in biophotonics targeted to ophthalmic imaging.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <img src="{{ url_for('static', filename='images/A-Eye_team/guillaume.jpg') }}" alt="Guillaume Raetz">
            <div class="info-section">
                <div class="name-section">
                    <strong style="font-size: 2em;">Guillaume Raetz</strong>
                </div>
                <div class="email-section">
                    <strong>Email: </strong> <a href="mailto:guillaum.raetz@hes-so.ch">guillaum.raetz@hes-so.ch</a>
                </div>
                <div class="description-section">
                    Former student at the School of Engineering in Sion, developed the web platform and contributed closely to training a DeepLearning model for automatic eye segmentation during his bachelor thesis.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-container">
    <h2 class="main-title">Partners</h2>
</div>
<div class="row justify-content-center">
    {% set partners = ['CIBM.png', 'CHUV.png', 'UNIL.png', 'HES-SO_Valais-Wallis.png', 'Rostock.png', 'BERN.png'] %}
    {% for partner in partners %}
    <div class="col-md-2 mb-4">
        <div class="partner-card">
            <img src="{{ url_for('static', filename='images/partners/' ~ partner) }}" class="img-fluid" alt="Partner Logo">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}