{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="title-container">
    <h2 class="main-title">Funding Foundation</h2>
</div>
<div class="text-center mb-5">
    <div class="partner-card">
        <img src="{{ url_for('static', filename='images/partners/GELBERT.png') }}" class="img-fluid" alt="Funding Foundation Logo">
    </div>
</div>
<div class="title-container">
    <h2 class="main-title">A-Eye Team</h2>
</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <div class="name-section">
                <strong style="font-size: 2em;">Meritxell Bach Cuadra</strong>
            </div>
            <div class="email-section">
                <strong>Email: </strong> <a href="mailto:meritxell.bachcuadra@unil.ch">meritxell.bachcuadra@unil.ch</a>
            </div>
            <div class="description-section">
                Principal Investigator and Leader of the A-Eye project.
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <div class="name-section">
                <strong style="font-size: 2em;">Jaime Barranco Hernandez</strong>
            </div>
            <div class="email-section">
                <strong>Email: </strong> <a href="mailto:jaime.barranco-hernandez@chuv.ch">jaime.barranco-hernandez@chuv.ch</a>
            </div>
            <div class="description-section">
                Researcher affiliated with CIBM, CHUV, HES-SO, and developer of several eye segmentation automation techniques for the A-Eye project.
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <div class="name-section">
                <strong style="font-size: 2em;">Guillaume Raetz</strong>
            </div>
            <div class="email-section">
                <strong>Email: </strong> <a href="mailto:guillaum.raetz@hes-so.ch">guillaum.raetz@hes-so.ch</a>
            </div>
            <div class="description-section">
                Former student at the School of Engineering in Sion, developed the web platform and contributed closely to training a DeepLearning model for automatic eye segmentation during his bachelor thesis.
            </div>
        </div>
    </div>
    {% for i in range(7) %}
    <div class="col-md-6 mb-4">
        <div class="collaborator-card">
            <div class="name-section">
                <strong style="font-size: 2em;">Team Member {{ i + 4 }}</strong>
            </div>
            <div class="email-section">
                <strong>Email: </strong> <a href="mailto:teammember{{ i + 4 }}@example.com">teammember{{ i + 4 }}@example.com</a>
            </div>
            <div class="description-section">
                Description of team member {{ i + 4 }}.
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="title-container">
    <h2 class="main-title">Partners</h2>
</div>
<div class="row justify-content-center">
    {% set partners = ['CIBM.png', 'CHUV.png', 'UNIL.png', 'HES-SO_Valais-Wallis.png', 'Rostock.png', 'BERN.png'] %}
    {% for partner in partners %}
    <div class="col-md-2 mb-4">
        <div class="partner-card">
            <img src="{{ url_for('static', filename='images/partners/' ~ partner) }}" class="img-fluid" alt="Partner Logo">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}