{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="title-container">
    <h2 class="about-title">Funding Foundation</h2>
</div>
<div class="text-center mb-5">
    <div class="partner-card">
        <img src="{{ url_for('static', filename='images/partners/GELBERT.PNG') }}" class="img-fluid" alt="Funding Foundation Logo">
    </div>
</div>
<div class="contact-card text-center mb-5">
    <p>Contact: <a href="mailto:jaime.barrancohernandez@hevs.ch">jaime.barrancohernandez@hevs.ch</a></p>
</div>
<div class="title-container">
    <h2 class="about-title">A-Eye Team</h2>
</div>
<div class="row">
    {% for i in range(10) %}
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Team Member {{ i + 1 }}</h5>
                <p class="card-text">Description of team member {{ i + 1 }}.</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="title-container">
    <h2 class="about-title">Partners</h2>
</div>
<div class="row justify-content-center">
    {% set partners = ['UNIL.png', 'BERN.png', 'CHUV.png', 'CIBM.png', 'ROSTOCK.png', 'HES-SO_Valais-Wallis.png'] %}
    {% for partner in partners %}
    <div class="col-md-2 mb-4">
        <div class="partner-card">
            <img src="{{ url_for('static', filename='images/partners/' ~ partner) }}" class="img-fluid" alt="Partner Logo">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}