<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auth0 Example{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
        .logout-link {
            color: red !important;
        }
        .welcome-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px; /* Adjust this value as needed */
        }
    </style>
</head>
<body>
    <div class="ui container" style="margin-top: 20px;">
        <div class="ui menu">
            <a href="{{ url_for('welcome') }}" class="header item">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" style="height: 40px;">
            </a>
            <div class="right menu">
                {% if session.get('user') %}
                    <div class="item welcome-text" style="max-width: 400px;">Welcome, {{ session.user.email }}</div>
                    <a href="{{ url_for('logout') }}" class="item logout-link">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="item">Login</a>
                {% endif %}
                <a class="ui icon button" href="{{ url_for('informations') }}" target="_blank" title="Informations">
                    <i class="info circle icon"></i>
                </a>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>