{% extends "base.html" %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block content %}
<div class="title-container">
    <h2 class="main-title">Frequently Asked Questions</h2>
</div>
<div class="container">
    <div class="faq-item">
        <div class="faq-content">
            <p><strong>I didn't receive the activation link. How do I proceed?</strong></p>
            <p>First, please check your spam. Second, if you did not receive the email, you can use the forgot password feature on the <a href="http://localhost:5000/login">login page</a> to get back an activation link.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-content">
            <p><strong>Is it possible to submit DICOM images directly?</strong></p>
            <p>No, the currently only supported formats are compressed Nifti: ".nii.gz" and .zip. The zip can include DICOM or Nifti images, and several images if needed. When you upload a zip, the content is extracted, and the DICOM images are converted into Nifti (.nii.gz). Please read the tutorial for help on format conversion. You can have additional help watching this <a href="https://www.youtube.com/watch?v=DMGWdi6Z73s&ab_channel=AndrewJahn">video</a> or reading this <a href="https://andysbrainbook.readthedocs.io/en/latest/MRIcroGL/MRIcroGL_2_dcm2nii.html">book</a>.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-content">
            <p><strong>The pipeline finished, but I have an issue on the obtained results. How to report a bug?</strong></p>
            <p>To report an issue on the platform or the pipelines, please contact: <a href="mailto:jaime.barrancohernandez@hevs.ch">jaime.barrancohernandez@hevs.ch</a>.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-content">
            <p><strong>Where is my medical data stored and is it exposed?</strong></p>
            <p>Imaging data is temporarily stored on a secured physical server at the HES-SO in Sion (Valais) and is kept for improving A-eye's models performance. Your images and our outputs are really useful for us for continuos integration and development (CI/CD) :)</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-content">
            <p><strong>How can I reset my password if I forgot it?</strong></p>
            <p>If you forgot your password, you can reset it by clicking on the "Forgot Password" link on the login page. You will be prompted to enter your registered email address, and a password reset link will be sent to you. Follow the instructions in the email to reset your password.</p>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-content">
            <p><strong>I can't create an account.</strong></p>
            <p>We allow our partners, universities, and various institutions to use our web platform. If you are unable to create an account, it is possible that your email address contains a domain name that is unknown to us. If you believe you are eligible to use the web platform and are unable to create an account, please contact A-eye web platform support at the following address: <a href="mailto:jaime.barrancohernandez@hevs.ch">jaime.barrancohernandez@hevs.ch</p>
        </div>
    </div>
</div>
{% endblock %}