<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A-Eye Web Segmentation Platform</title>
    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>

  <div style="margin-top: 50px;" class="ui container">

    <!-- Header -->
    <h1 class="ui center aligned header">AEye automated segmentation</h1>
    <hr>

    <!-- Logout button -->
    <a class="ui red basic right floated button" href="/logout">Logout</a>

    <!-- Information button -->
    <a class="ui icon button" href="/informations" target="_blank" title="Informations">
      <i class="info circle icon"></i>
    </a>

    <!-- Choose and upload form -->
    <form method="POST" action="/" enctype="multipart/form-data">
      <input type="file" name="file" multiple>
      <div class="ui hidden divider"></div>

      <!-- Button group for alignment -->
      <div class="ui buttons">
        <input class="ui blue button" type="submit" name="upload_files" value="Upload">
        <a class="ui blue button" href="/segment">Segment</a>
        <a class="ui blue button" href="/download">Download</a>
      </div>

      <!-- Upload label -->
      {% if uploaded == True %}
      <div class="ui left pointing green label">Files uploaded successfully</div>
      {% else %}
      <div class="ui left pointing label">No files uploaded</div>
      {% endif %}
    </form>

    <!-- Segment label -->
    {% if segmented==True %}
    <span class="ui left pointing green label">Segmentation finished!</span>
    {% else %}
    <span></span>
    {% endif %}
    
    <!-- Display flash messages -->
    <p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <h3 class="ui blue header">{{ messages[0] }}</h3>
        {% endif %}
      {% endwith %}
    </p>

  </div>

</body>

</html>
