{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="ui center aligned header">Login</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="ui message">
            {% for category, message in messages %}
                <div class="ui {{ category }} message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<form class="ui form" method="POST" action="/login">
    <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="Email" required>
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" required>
    </div>
    <div class="field">
        <div class="ui checkbox">
            <input type="checkbox" name="accept_terms" required>
            <label>I am aware that the data shared with the A-Eye web platform is shared on servers which do not necessarily belong to collaborators of the CHUV, CIBM, UNIL or the HES-SO. Data leaks are therefore possible.</label>
        </div>
    </div>
    <button class="ui button" type="submit">Login</button>
</form>
<div class="ui hidden divider"></div>
<div class="ui center aligned container">
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
</div>
{% endblock %}