{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h2 class="ui center aligned header">Register</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="ui message">
            {% for category, message in messages %}
                <div class="ui {{ category }} message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<form class="ui form" method="POST" action="/register">
    <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="Email" required>
    </div>
    <div class="field">
        <label>First Name</label>
        <input type="text" name="first_name" placeholder="First Name" required>
    </div>
    <div class="field">
        <label>Last Name</label>
        <input type="text" name="last_name" placeholder="Last Name" required>
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" required>
    </div>
    <div class="field">
        <label>Organization</label>
        <select name="organization" id="organization" required>
            <option value="HES-SO">HES-SO</option>
            <option value="UNIL">UNIL</option>
            <option value="CHUV">CHUV</option>
            <option value="CIBM">CIBM</option>
            <option value="Other">Other</option>
        </select>
        <input type="text" name="other_organization" id="other_organization" placeholder="Please specify" style="display:none;">
    </div>
    <div class="field">
        <label>Job</label>
        <select name="job" required>
            <option value="student">Student</option>
            <option value="clinician">Clinician</option>
            <option value="researcher">Researcher</option>
        </select>
    </div>
    <button class="ui button" type="submit">Register</button>
</form>
<div class="ui hidden divider"></div>
<div class="ui center aligned container">
    <p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a></p>
</div>
<script>
    document.getElementById('organization').addEventListener('change', function() {
        var otherOrganization = document.getElementById('other_organization');
        if (this.value === 'Other') {
            otherOrganization.style.display = 'block';
            otherOrganization.required = true;
        } else {
            otherOrganization.style.display = 'none';
            otherOrganization.required = false;
        }
    });
</script>
{% endblock %}