{% extends "base.html" %}

{% block title %}Segmentation{% endblock %}

{% block content %}
<div class="container text-center" style="margin-top: 50px;">
  <h2>Segmentation</h2>
  <!-- Contenu spécifique à la page Segmentation -->

  <!-- Choose and upload form -->
  <form method="POST" action="/" enctype="multipart/form-data">
    <input type="file" name="file" multiple>
    <div class="ui hidden divider"></div>

    <!-- Button group for alignment -->
    <div class="ui buttons">
      <input class="ui blue button" type="submit" name="upload_files" value="Upload">
      <a class="ui blue button" href="/segment">Segment</a>
      <a class="ui blue button" href="/download">Download</a>
    </div>

    <!-- Upload label -->
    {% if uploaded == True %}
    <div class="ui left pointing green label">Files uploaded successfully</div>
    {% else %}
    <div class="ui left pointing label">No files uploaded</div>
    {% endif %}
  </form>

  <!-- Segment label -->
  {% if segmented==True %}
  <span class="ui left pointing green label">Segmentation finished!</span>
  {% else %}
  <span></span>
  {% endif %}
  
  <!-- Display flash messages -->
  <p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <h3 class="ui blue header">{{ messages[0] }}</h3>
      {% endif %}
    {% endwith %}
  </p>
</div>
{% endblock %}
