{% extends "base.html" %}

{% block title %}Segmentation - AEye{% endblock %}

{% block body_container %}container-fluid px-3{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    <h2 class="main-title text-center">Segmentation Tool</h2>

    <!-- Consent tooltip -->
    <p class="text-muted text-center mt-4" style="max-width: 800px; margin: 0 auto;">
        By proceeding, I authorize the A-eye team to store my image data in a secure, non-public database to help
        improve A-eye's performance.
    </p>
    <!-- buttons -->
    <div class="row text-center" style="margin-top: 30px;">
        <div class="col-md-3">
            <form id="select-file-form">
                <input type="file" id="file-input" style="display: none;" multiple onchange="onSelectionFilter()">
                <button type="button" class="btn btn-success btn-lg btn-block" id="select-file-button"
                    onclick="document.getElementById('file-input').click();">
                    <i class="fas fa-mouse-pointer"></i> Select file(s)
                </button>
            </form>
        </div>
        <div class="col-md-3">
            <form id="upload-form" method="post" enctype="multipart/form-data">
                <button type="button" class="btn btn-secondary btn-lg btn-block" id="upload-button"
                    onclick="uploadFiles()" disabled>
                    <i class="fas fa-upload"></i> Upload
                </button>
            </form>
        </div>
        <div class="col-md-3">
            <form id="segment-form" method="post">
                <button type="button" class="btn btn-secondary btn-lg btn-block" id="segment-button"
                    onclick="segmentFiles()" disabled>
                    <i class="fas fa-cogs"></i> Segment
                </button>
            </form>
        </div>
        <div class="col-md-3">
            <form id="download-form" method="get" action="/download">
                <button type="button" id="download-button" class="btn btn-secondary btn-lg btn-block" disabled>
                    <i class="fas fa-download"></i> Download results
                </button>
            </form>
        </div>
    </div>

    <!-- rejection notice -->
    <div class="row text-center" style="margin-top: 30px;">
        <div class="col-md-12">
            <h5 id="selected-files-title" class="text-center mb-3" style="display:none;">selected file(s)</h5>
            <ul id="file-list" class="list-group"></ul>
            <div id="rejection-tooltip" class="text-danger fw-bold mt-2" style="display:none;">
            </div>
        </div>
    </div>

    <!-- progress bar -->
    <div class="row text-center" id="status-section" style="display:none; margin-top: 30px;">
        <div class="col-md-12">
            <div class="progress mb-3">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                    role="progressbar" style="width: 100%;"></div>
            </div>
            <ul id="display-file-list" class="list-group"></ul>
        </div>
    </div>
    
</div>

<!-- segmentation results -->
<div id="segmentation-result-section" style="display:none; margin-top: 30px;">
    <div class="text-center mb-3">
        <button type="button" class="btn btn-outline-secondary btn-lg px-5" onclick="window.location.reload()">
            <i class="fas fa-redo me-2"></i> New segmentation
        </button>
    </div>
    <ul id="result-file-list" class="list-group"></ul>
</div>


<script src="/static/js/archive.js"></script>
<script src="/static/js/file-list-ui.js"></script>
<script src="/static/js/segmentation-pipeline.js"></script>
<script type="module">
    import { Niivue } from "https://unpkg.com/@niivue/niivue@0.69.0/dist/index.js";

    window.EYE_LABELS = [
        { name: 'background',             color: [0,  0,  0 ] },
        { name: 'lens',                   color: [223, 227, 232] },
        { name: 'globe',                  color: [94,  141, 242] },
        { name: 'optic nerve',            color: [251, 196, 14 ] },
        { name: 'intraconal fat',         color: [254, 153, 117] },
        { name: 'extraconal fat',         color: [248, 114, 43 ] },
        { name: 'lateral rectus muscle',  color: [204, 37,  45 ] },
        { name: 'medial rectus muscle',   color: [35,  163, 48 ] },
        { name: 'inferior rectus muscle', color: [42,  176, 184] },
        { name: 'superior rectus muscle', color: [155, 46,  207] },
    ];

    /*
    * To get the colormap based on the ROI classes
    */
    function buildEyeSegColormap() {
        const n = 256;
        const n_classes = window.EYE_LABELS.length;
        const R = [];
        const G = [];
        const B = [];
        const A = [];
        
        for (let i = 0; i < n; i++) {
            // finding the index of class after normalization
            const classe = Math.round(i / (n - 1) * (n_classes - 1));
            const label = window.EYE_LABELS[classe];

            R.push(label.color[0]);
            G.push(label.color[1]);
            B.push(label.color[2]);
            
            // Handling A (transparency)
            if (classe === 0) {
                A.push(0);
            } else {
                A.push(255);
            }
        }
        return { R: R, G: G, B: B, A: A };
    }


    window.initNiivue = async (canvasId, url, colorMap='gray', cal_min=null, cal_max=null) => {
        const nv = new Niivue({ isResizeCanvas: true });
        await nv.attachTo(canvasId);
        if (colorMap === 'eye-seg')
            nv.addColormap('eye-seg', buildEyeSegColormap());
        const vol = { url, colormap: colorMap };
        if (cal_min !== null)
            vol.cal_min = cal_min;
        if (cal_max !== null) 
            vol.cal_max = cal_max;
        await nv.loadVolumes([vol]);
    };
</script>
{% endblock %}