{% extends "base.html" %}

{% block title %}Users - AEye{% endblock %}

{% block content %}
<div class="container" style="margin-top: 50px;">
    <h2 class="main-title text-center">Users Informations</h2>
    <div class="row text-center" style="margin-top: 30px;">
        <div class="col-md-4">
            <div class="statistic">
                <div class="value" style="color: green; font-size: 3em;">
                    {{ cases_processed }}
                </div>
                <div class="label" style="font-size: 0.8em;">
                    CASES PROCESSED
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="statistic">
                <div class="value" style="color: green; font-size: 3em;">
                    {{ total_users }}
                </div>
                <div class="label" style="font-size: 0.8em;">
                    USERS
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="statistic">
                <div class="value" style="color: green; font-size: 3em;">
                    {{ total_institutions }}
                </div>
                <div class="label" style="font-size: 0.8em;">
                    INSTITUTIONS
                </div>
            </div>
        </div>
    </div>
    <div class="map-container" style="margin-top: 0px; display: flex; justify-content: center;">
        {{ map_html|safe }}
    </div>
</div>
{% endblock %}